
.header-container {
  
  width: 100%;
  //width: 1360px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding: 2px 120px;
}


.img-logo {
  width: 73.19px;
  height: 36px;
  display: flex;
  gap: 24px;
  opacity: 1;
}

.quote-form__summary-box {
  width: 305px;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transform: rotate(0deg);
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}



.texto-header{
    width: 150px;
    height: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: right;


}

.phone-header {
  width: 139px;
  height: 20px;
  gap: 8px; // Solo válido en contextos de layout como flex o grid
  transform: rotate(0deg);
  opacity: 1;
}

.phone-icon{
    width: 20px;
    height: 20px;
    top: 2.47px;
    left: 2.54px;
}
.phone-text{

  font-weight: 700;
  font-style: normal; // 'Bold' no es válido como valor
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: right;
}
